<div class="row margin-top0px">
  <div class="large-16 columns top-most-bar"> 	
	<div class="right width50 text-right">
    		<a><?php if ($this->Session->check('Auth.User')){
					if ($this->Session->check('Users.username')) 
					echo '<i class="fa fa-user fa-1"></i><a href="/islandvideo/users/view/'.$this->Session->read('Users.Id').'">';
					echo $this->Session->read('Users.FullName');
					echo '</a>';
					echo " | ";
					echo '<i class="fa fa-key fa-1"></i><a href="/islandvideo/logout">Logout</a>';
				}else{
					echo '<i class="fa fa-user fa-1"></i><a href="/islandvideo/register">Register</a>';
					echo " | ";
					echo '<i class="fa fa-key fa-1"></i><a href="/islandvideo/login">Login</a>';
				}?>
			</a>			

	</div>
  </div>
</div>  
<div class="row logo-area">
  <div class="large-16 columns"> 	
	<div class="left width50 main-logo">
	<img src="<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/islandvideo/'; ?>img/logo.png"/>
	</div>
	<div class="right width50">		
		<form>
			<input type="search" placeholder="Search" class="right">
		</form>
	</div>
  </div>
</div> 