<div class="row">
<!-- Sidebar -->
	<div class="large-3 columns">
<!--Begin Repeat this for left vid colums items -->
	<div class="section-container tabs" data-section>
	  <section class="section">
		<h5 class="title"><a class="right-category-title">Links </a></h5>
		<div class="profile-quick-links">
			<ul>		
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				<li> <a href="#">Sample Link </a></li>
				
			</ul>
		</div>
	  </section>
	</div>    
<!--End Repeat this for left vid colums items -->
</div>