<nav class="top-bar" data-topbar="">
  <ul class="title-area">
    <!-- Begin Keep this always for mobile nav -->
    <li class="name">
      <h1>&nbsp;</h1>
    </li>
    <!-- End Keep this always for mobile nav-->
    
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  
<section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <li><a href="/islandvideo/home" class="top-bar-menu-active">Home</a></li>
      <li class="divider"></li>
	  <li class="divider"></li>
	  <li><a href="#">Daybridge School</a></li>
	  <li class="divider"></li>
	  <li><a href="/islandvideo/Videos/freevideos">Free Videos</a></li>
	  <li class="divider"></li>
	  <li><a href="#" class="categories-link" id="categories-link">Categories</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Contact Us</a></li>
    </ul>
  </section></nav>
