 <!-- VIDEO SELECTION -->
<div class="row button-selection">
  <div class="large-16 columns text-center"> 
	<div class="left width50">
		<a href="#" id="link-free-video" class="big-button greenblue"><img src="img/videos.png"/>Videos</a> 
	</div>
	
	<div class="right width50">
		<a href="#" id="link-paid-video" class="categories-link big-button deepred"><img src="img/categs.png"/>Categories</i></a>
	</div>
   </div>
</div>
