/* CSS Document */
html, body{
	margin: 0;
	padding:0;	
	background:#fff;
	color:#000;
	height:100%;
	background:url(../img/body-bg.png) repeat;
	
}
body .col-xs-12, body .col-xs-3, body .col-xs-9{
	padding: 0;	
}
h1, h2, h3, h4, h5, h6{
	background: none;	
}
#content{
	clear:right;
	background:none;
	padding:55px 20px 40px 20px;
}
.top-menu{
	background-color: #0e0e0f;
	background-image: -moz-linear-gradient(top, #0e0e0f, #2a2b2e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a2b2e), to(#2a2b2e));
	background-image: -webkit-linear-gradient(top, #0e0e0f, #2a2b2e);
	background-image: -o-linear-gradient(top, #0e0e0f, #2a2b2e);
	background-image: linear-gradient(to bottom, #0e0e0f, #2a2b2e);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e0e0f', endColorstr='#ff2a2b2e', GradientType=0);
	border-color: #141313;
	webkit-box-shadow: 0 1px 10px rgba(120, 120, 120, .1);
	-moz-box-shadow: 0 1px 10px rgba(120, 120, 120, .1);
	box-shadow: 0 1px 10px rgba(120, 120, 120, .1);	
	height:42px;
	padding:5px;
	position:fixed;
	z-index:999999;
}
.top-menu .logout{
	background: #B82906;
	color: #fff;
	float: right;
	height: 42px;
	padding: 10px 25px;
}


.side-menu{
	background: #3c3c3c;
	height: 1500px;
	position: fixed;
	top: 42px;
	padding:15px 0 15px 0;
}

.side-menu ul{
	padding:0;
	margin: 0;	
}
.side-menu ul li{
	list-style:none;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px solid #242628;
	margin: 0;
}
.side-menu ul li a{
	color: #fff;	
}

#content .page-title {
	font-size: 22px;
	display: block;
	font-weight: normal;
	margin: 13px 0px 8px 0px;
}

#content select{
	width:98%;
	padding:1%;	
}

#content .link{
	background: #0C2E96;
	border: none;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;	
	border-radius:0;
}

#content .link:hover{
	text-decoration:none;	
}

#content .item-view p{
	display: table;
}
#content .item-view p label{
	display: table-cell;
	width:200px;	
}
#content .video-details p{
	display:table;
}
#content .video-details p label{
	display:table-cell;
	width:200px;
}
#content .video-details .video-desp{
	padding: 10px 0;
	font-size:17px;	
}

#content .datatable{
	margin-top: 10px;	
}

#content .datatable .actions{
	padding-left: 0;
	text-align:left;
}

/* ============= CSS OVERRIDE ================ */

.success, .message, .cake-error, p.error, .error-message{
	border-radius:0;
	border: none;
	background:#c43c35;
	background-image:none;	
}

form .submit input[type=submit]{
	border-radius:0;
	border:none;
	background:#5BA150;
	background-image:none;	
}

.dataTables_filter input, .dataTables_length select{
	padding:0 !important;
	width:auto !important;
}
.dataTables_filter label, .dataTables_length label{
	font-weight:normal;
}

form div{
	margin:0;
	padding:.2em;
}
.large-block-grid-4{
	overflow:hidden;
}

.large-block-grid-4 .item{
	float:left;
	height: 225px;
	margin-right: 20px;
	width: 210px;
}

.large-block-grid-4 .thumb, .large-block-grid-4 .view, .large-block-grid-4 .data{
	display:block;
}