/* CSS Document */

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../fonts/roboto-bold-webfont.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg') format('svg');
  font-style: normal;
}


html, body{
	margin: 0;
	padding:0;
	color:#000;
	font-family:'RobotoRegular';
	background:url("../img/subtle_dots.png") repeat scroll 0 0 #fff;
}

#container{
	overflow:hidden;
}

.footer{
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.footer-menu-itmes li a{
	font-family: 'RobotoLight';
}
.footer-menu-itmes li {
	margin-bottom:5px;
}

.logo-area{
	margin-top: 0px;
	margin-bottom: 1px;
}
.logo-area form{
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 0;
}

.item .thumb .duration{
	background: #000;
	width: 55px;
	height: 20px;
	z-index: 999999;
	position: absolute;
	margin-top: -56px;
	right: 0;
	color: #fff;
	margin-right: 0px;
	padding-top: 3px;
	font-size: 12px;
	padding-left: 3px;	
}
.video-title{
	font-family:'RobotoRegular';
}
.tags{
	overflow: hidden;
	padding:10px 0;
}
.tags span{
	margin-bottom: 20px;
	display: inline-block;
}
.tags span a{
	padding: 5px 10px;
	background: #0C8BF2;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
}

.tags span a:hover{
	background: #05D5FA;
}

.video .description{
	padding: 10px 0;
	margin-bottom:20px;
}

.tag-name{
	text-transform:capitalize;
}

.video-overlay{
	position: absolute;
	z-index: 1;
	background: #000;
	color: #fff;
	opacity: .8;
}

.warning{
	width:30%;
	height:102px;
	float:left;
}
.warning-yellow{
	background:url(../img/warning-yellow.png);
}
.warning-msg{
	width: 50%;
	margin: 20% auto 0;
	overflow: hidden;
}
.msg{
	float: left;
	width: 70%;
	font-size: 18px;
	line-height: 25px;
	margin-top: 10px;
}
.warning-btn{
	
	text-align:center;
}
.warning-btn button, input[type="submit"]{
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	border: none;
	margin:0 2px 0;
}
.warning-btn .yes{
	background: #C22424;
}
.warning-btn .no{
	background:#2D8026;
}


.authform{
	width: 50%;
	margin:auto;
}

.authform input[type="submit"]{
	background:#000;
	padding-left: 15px;
	padding-right: 15px;
}
.actions{
	width:50%;
	margin:auto;
}
.actions ul{
	padding:0;
	margin:0;
}
.actions ul li{
	list-style:none;
	display:inline;
	padding: 5px 10px 8px;
	background: #000;
	border-radius: 3px;
	margin-right:5px;
}
.actions ul li a{
	color: #fff;
	font-size: 13px;
	font-family: 'RobotoRegular';
}

#flashMessage.message.warning, #authMessage.message{
	width:100%;
	text-align:center;
	height:auto;
}

form .error-message, .message.warning, #authMessage.message{
	padding: 10px;
	background: rgb(211, 13, 13);
	margin-bottom: 10px;
	color: #fff;
}

#flashMessage.login-success-message{
	position: absolute;
	top: 225px;
	background: #257E29;
	color: #fff;
	width: 100%;
	padding: 5px 5px 5px 30px;
}

select.categ{
	width: 25%;
	right: 0;
	position: absolute;
}

/* ======================= OVERRIDE ========================= */
.columns{
	padding-left:2em !important;
	padding-right: 2em !important;
}

.profile-column{
	padding-left: 0 !important;
	padding-right: 0 !important	
}

.profile-section{
	border: none !important;
}

.large-block-grid-3 .thumb{
	float:left;	
}
.greenblue{
	background:none repeat scroll 0 0 #56BAEC;
	border:1px solid #56BAEC;
    color: #fff;
	border-radius:0 0 15px 15px;
	float:right;	
	margin-right: 10px;
}

.row.logo-area {
    background: url("../images/bg.jpg") repeat fixed 0 0 #78bbe6;
}

.greenblue:hover{
	background: none repeat scroll 0 0 #B4D8E7;
    color: #fff;
}
.deepred{
	background:none repeat scroll 0 0 #025985;
	border:1px solid #025985;
    color: #fff;
	border-radius:0 0 15px 15px;	
	float:left;	
	margin-left: 10px;
}
.deepred:hover{
	background: none repeat scroll 0 0 #036799;
    color: #fff;
}
.button-selection{
	margin-top:0;	
}
.top-bar-section ul li > a, .text-right.padding-bottom15 > a{
	font-family:'RobotoRegular';
	text-decoration:none;
	font-weight: normal;
}
.large-block-grid-4 .entry-title, .large-block-grid-3 .entry-title, .large-block-grid-12 .entry-title{
	font-family: 'RobotoRegular';
	font-weight: normal;
	font-size: 12px;	
}
.main-category-title, .right-category-title{
	font-size: 24px;
    font-weight: 600;
}
.big-button{
	font-family: 'RobotoLight';
	font-weight: normal;
	font-size: 34px;
}
.big-button img{
	margin: -9px 5px 0 0;
}
input[type="search"] {
	border-radius:0px;
}
.large-block-grid-3 .thumb {
	width:130px;
}

.top-most-bar a{
	text-decoration: underline;
	font-family: 'RobotoRegular';
	font-size: 14px;
	color:#000;
	padding-right:10px;
}



.fa.fa-key.fa-1{
	padding-right:7px;
	padding-left:5px;
}

.top-most-bar a:hover{
	color:#666;
}

.top-most-bar{
	background: url("../img/subtle_dots.png") repeat fixed 0 0 #ccc;
}

.border-catergory, .section {
	border-top:1px solid #eee;
	padding: 0 0 20px;
}
.row .button-selection{
	border-top:1px solid #eee;
}
.large-block-grid-4 .item{
	margin: 0 14px 20px;
    height: 175px;
}

.large-block-grid-12 .thumb{
	width:auto;
	height:auto;
}
.large-block-grid-12 .thumb img{
	width:auto;
}

.entry-title > a{
	color: #545454;
}
.thumb .overlay{
	z-index:2;
}
.top-bar-section{
	left:28px !important;
}
/* BX SLIDER OVERRIDE */
.bx-wrapper .bx-loading {
	background: url(../img/bx_loader.gif) center center no-repeat #fff;	
}
.bx-wrapper .bx-prev {
	background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-controls-auto .bx-start {
	background: url(../img/controls.png) -86px -11px no-repeat;	
}

.bx-wrapper .bx-controls-auto .bx-stop{
	background: url(../img/controls.png) -86px -44px no-repeat;
}


#free-video-content .bx-viewport{
	height:200px !important;
}
/* =========== RIBBON ============= */
.ribbon {
	background:url(../img/premium.png) no-repeat;
	width:116px;
	height:113px;
	position: absolute;
	z-index: 1;
	margin-top: -7px;
	margin-left: -7px;
}
