<?php echo $this->element('profilesidebar'); ?>

<div class="large-9 columns">   
<!-- Begin Item content display -->    

  <section class="section">
	 <div class="large-16 columns">  	 
		<div class="large-6 columns">  
			<div class="left width50">
				<img src="./images/small/15.jpg"/>
			</div>					
		</div>
		
		<div class="large-10 columns">  
			<div class="right profile-user-details">
				<div class="profile-option-title left width50">Title : </div>
				<div class="profile-option-data right width50">Data</div>
				<div class="profile-option-title left width50">Title : </div>
				<div class="profile-option-data right width50">Data</div>
				<div class="profile-option-title left width50">Title : </div>
				<div class="profile-option-data right width50">Data</div>					
			</div>			
		</div>
	 </div>
	 
	<div class="large-16 columns">  
		<div class="profile-bottom-content"> 
			<div class="profile-bottom-content-menu">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>	
			</div>	
			<div class="profile-bottom-content-body">
				<div>Section 1</div>
				<div>Section 2</div>
				<div>Section 3</div>
			</div>
		</div>
	</div>
	 
  </section>
<!-- End Item content display -->

</div>