<h1>Add Group</h1>
<?php
echo $this->Form->create('Group');
echo $this->Form->input('Name');
echo '<div class="input text">';
echo $this->Form->label('ChannelId', 'Channel');
	while (list($key, $val) = each($channels)) {
		echo $this->Form->input($val, array('type' => 'checkbox', 'value' => $key, 'name' => 'data[Group][channel][]', 'hiddenField' => false));		
	}
	
echo '</div>';
echo $this->Form->end('Save Group');
?>