<!-- File: /app/View/Video/view.ctp --> 
<h3><?php //echo $channel['Channel']; ?></h3>
<?php 
	echo $this->Form->create('Group');
	echo $this->Form->input('Name');
	echo '<div class="input text">';
	echo $this->Form->input('ChannelId', array('type'=>'select', 'label'=>'Channel', 'options'=>$channels, 'selected'=>$channelId));
	echo '</div>';
	echo $this->Form->input('Id', array('type' => 'hidden'));
	echo $this->Form->end('Update Group');
?>
