<!-- File: /app/View/Video/view.ctp --> 
<h3><?php //echo $channel['Channel']; ?></h3>
<?php 
	echo $this->Form->create('Channel');
	echo $this->Form->input('Name');
	echo $this->Form->input('Id', array('type' => 'hidden'));
	echo $this->Form->end('Update Channel');
?>
</div>
